.mb-2{
    width: 200px;
}
h2{
font-family:'Comic Sans','Courier New', Courier, monospace;
}

.darkcolor{
    background-color: rgb(22, 13, 83) !important;
}

.textcolor{
    --bs-text-opacity: 1;
    color:rgb(22, 13, 83) !important ; 
}

  a:link {
    color:rgb(22, 13, 83) !important ;
  }

  a:visited {
    color: rgb(174, 167, 222) !important
  }
  a:hover {
    color: rgb(142, 135, 189) !important;
  } 
  .social-icons .social-icon:hover {
  background-color: rgb(184, 178, 220)!important;
  }